body {
    font-family: Arial, sans-serif;
    background: #2b2a2a;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #888888e6;
  backdrop-filter: blur(6px);
  border-bottom: 1px solid #222;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

header .logo img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

header .logo h1 {
  font-size: 2rem;
  color: #ff4433;
  letter-spacing: 0.1em;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  background: #ff4433;
  border: 1px solid #ff4433;
  box-shadow: 0 0 10px #ff4433;
}

main {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.form-container {
    background: #ffffff;
    width: 100%;
    max-width: 600px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 15px;
    background: #000;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

.hidden {
    display: none;
}

